<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xyzreader"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bacon">

        <activity
            android:name=".ui.ArticleListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ArticleDetailActivity"
            android:parentActivityName=".ui.ArticleListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.example.xyzreader.items" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ArticleListActivity" />
        </activity>

        <service android:name=".data.UpdaterService"
            android:exported="false" />

        <provider android:name=".data.ItemsProvider"
            android:authorities="com.example.xyzreader"
            android:exported="false" />

    </application>

</manifest>
